<!DOCTYPE html>
<html>
<head>
  <title>Databricks Sample Application: Logs Analysis with Spark</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>

        .bar {
        fill: steelblue;
        }

        .bar:hover {
        fill: brown;
        }

        .axis {
        font: 10px sans-serif;
        }

        .axis path,
        .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
        }

        .x.axis path {
        display: none;
        }

    </style>

</head>
<body>

<div class="page-header">
    <div class="row">
    <div class="col-md-12"><h2 class="text-center">The Log Analyzer Application in Spark using HDFS and D3</h2></div>
    </div>
</div>

  <div class="container theme-showcase" role="main">

      <h3>Log Lines Received</h3>
      ${logLinesTable}


    <h3>Content Size Statistics</h3>
    ${contentSizesTable}

      <div class="row">
          <div class="col-md-12">
              <h3 class="text-center">Response Code Counts</h3>
          </div>
          <div class="col-md-5">
              ${responseCodeTable}
          </div>
          <div class="col-med-7">
              <div id="piecodes"></div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <h3 class="text-center">Top Endpoints</h3>
          </div>
          <div class="col-md-12">
              ${topEndpointsTable}
          </div>
          <div class="col-med-12" id="barchart">
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <h3>Frequent IPAddresses</h3>
          </div>
          <div id="pie2" class="col-md-12">
          </div>
          <div class="col-md-12">
              ${frequentIpAddressTable}
          </div>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="d3.min.js"></script>
  <script src="d3pie.min.js"></script>
  <script src="script.js"></script>
  <script src="scriptbar.js"></script>
</body>
</html>
